<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>noisedashboard</title>
</head>
<body>
    <h1>The Noise-Maker App</h1>
    <form action="/noisemaker" method="post">
        <input type="text" name="noisemaker">
        <button type="submit">Submit</button>
    </form>
 
</body>
</html>